<div class="home">
    <div class="home-wrapper">
      <div class="row home-box">
        <h1>Contact </h1>
        <div class="card col-xs-12 col-sm-12 col-md-12 col-md-offset-2 col-sm-offset-1">
            <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col" sortable="name">Name</th>
                  <th scope="col" sortable="area">Email</th>
                  <th scope="col" sortable="population">Phone Number</th>
                  <th scope="col" sortable="population">Profile pic</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td> shital</td>
                  <td>shital.jadani@gmail.com</td>
                  <td>9913140909</td>
                  <td><img  height="30" width="100" src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Flag_of_Russia.svg"/></td>
                </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
  </div>