<div class="home">
    <div class="home-wrapper">
      <div class="row home-box">
        <h1>Contact </h1>
        <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add</button>
        <div class="card col-xs-12 col-sm-12 col-md-12 col-md-offset-2 col-sm-offset-1">
            <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col" sortable="name">Name</th>
                  <th scope="col" sortable="area">Email</th>
                  <th scope="col" sortable="population">Phone Number</th>
                  <th scope="col" sortable="population">Profile pic</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td> shital</td>
                  <td>shital.jadani@gmail.com</td>
                  <td>9913140909</td>
                  <td><img  height="30" width="100" src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Flag_of_Russia.svg"/></td>
                </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form class="auth-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div >
          <div class="form-group">
            <label>Name</label>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
            />
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
              <div *ngIf="f['email'].errors['required']">Email is required</div>
              <div *ngIf="f['email'].errors['email']">Email is invalid</div>
            </div>
          </div>
          <div class="form-group">
              <label>Email</label>
              <input
                type="text"
                formControlName="email"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
              />
              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Email is required</div>
                <div *ngIf="f['email'].errors['email']">Email is invalid</div>
              </div>
            </div>
          <div class="form-group">
              <label>Phone Number</label>
              <input
                type="password"
                formControlName="password"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
              />
              <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">Password is required</div>
                <div *ngIf="f['password'].errors['minlength']">
                  Password must be at least 6 characters
                </div>
                <div *ngIf="f['password'].errors['maxlength']">
                  Username must not exceed 40 characters
                </div>
              </div>
            </div>
          <div class="form-group">
              <label>Confirm Password</label>
              <input
                type="password"
                formControlName="confirmPassword"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
              />
              <div *ngIf="submitted && f['confirmPassword'].errors"
                  class="invalid-feedback"
              >
                  <div *ngIf="f['confirmPassword'].errors['required']">
                  Confirm Password is required
                  </div>
                  <div *ngIf="f['confirmPassword'].errors['matching']">
                  Confirm Password does not match
                  </div>
              </div>
            </div>
        </div>
        <div class="auth-submit-btn">
          <button class="btn btn-primary" type="submit">Submit</button> 
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>