.home {
    &-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 20px 30px;
    }

    &-box {
        width: 100%;
        align-items: center;
        justify-content: center;
        position: relative;

    }
}
