.home {
    &-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 20px 30px;
    }

    &-box {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        position: relative;
        display: flex;
        h1 {
            font-weight: bold;
            margin-bottom: 20px;
        }
        .card{
            padding: 0px 10px;
            margin: 10px 0px ;
            p{
                margin-bottom: 0px;
                padding: 5px;
                font-size: 12px;
                font-weight: bold;
            }
            p:last-child {
                padding-top: 0px;
                font-weight: bold;
            }
        }
    }
}


