.home {
    &-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 20px 30px;
    }

    &-box {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        position: relative;
        display: flex;
        h1 {
            font-weight: bold;
            margin-bottom: 20px;
        }
        .table-header{
            
            display: flex;
            justify-content: space-around;
            align-items: center;
            .file-input{
                margin-bottom: 0;
                height: auto;
                width: auto;
                cursor: pointer;
            }
            input{
                height: 100%;
                width: 100%;
            }
        }
    }

}
.del-btn{
    margin-left:10px ;
}
.file-input{
    position: relative;
    margin-bottom: 15px;
    input{
        position: absolute;
        top: 0;
        left: 0;
        height: 100px;
        width: 100px;
        opacity: 0;
        cursor: pointer;
    }
    img{
        height: 100px;
        width: 100px;
    }
}
.btn-submit-dialog{
    position: absolute;
    bottom: -55px;
}